<h2>Create a New User</h2>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name, autofocus: true %>
  </div>

  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, autocomplete: "email" %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div>
    <%= form.submit "Sign Up" %>
  </div>
<% end %>
